/*
Watertap page styles
*/
.wt-link {
	text-decoration: none;
	padding: 4px 8px;
	margin-left: 1em;
	border-style: solid;
	border-radius: 3px;	
	border-color: #00bfe3;
	border-width: thin;
	color: #009fc3;
	font-weight: 800;
	background-color: white;
}
.wt-ver {
	font-size: 110%;
	font-weight: 700;
}
.wt-date {
	font-size: 90%;
	opacity: 0.5;
	margin-left: 1em;
}
/* get rid of "view my github profile" bs */
.view { display: none }